@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');
/*  font-family: 'Roboto', sans-serif;  */

.banker { /*    geral - Feito não mexer   */
    font-family: 'Roboto', sans-serif;
    background-color: var(--background);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.top { /*   geral - Feito não mexer   */
    width: 100%;
    height: 69px;

    font-size: 37px;
    font-weight: 700;
    color: var(--white);
    box-shadow: 0 0px 10px 4px var(--shaddow);
    background-color: var(--red);

    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    top: 0;
    z-index: 2;
}

.quizzes,
.newQuizz { /*  geral - Feito não mexer   */
    width: 80%;
    height: 100%;
    padding: 100px 0px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quizz-boxes { /*  geral - Feito não mexer   */
    width: 340px;
    height: 181px;
    margin: 8px;

    border-radius: 5px;

    position: relative;
}

.quizz-boxes img { /*  geral - Feito não mexer   */
    width: 340px;
    height: 181px;

    border-radius: 5px;

    position: absolute;
}

.quizz-boxes .gradient { /*  geral - Feito não mexer   */
    width: 340px;
    height: 181px;

    border-radius: 5px;
    background: var(--gradient-black);

    position: absolute;
    z-index: 1;
}

.quizz-boxes p { /*  geral - Feito não mexer   */
    color: var(--white);
    font-size: 19px;

    position: absolute;
    bottom: 10px;
    left: 10px;
    z-index: 1;
}

.your-quizzes { /*  AkoruuDev   */
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.without-quizz { /*  AkoruuDev   */
    width: 1051px;
    height: 181px;

    border: dashed var(--shaddow) 1px;
    border-radius: 5px;
    font-weight: 400;
    font-size: 20px;
    color: var(--text-base);

    display: flex;
    justify-content: center;
    align-items: center;
}

.without-quizz .content { /*  AkoruuDev - Feito não mexer   */
    width: 250px;
    height: 120px;

    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.create-quizz { /*  AkoruuDev  - Feito não mexer    */
    width: 151px;
    height: 40px;
    margin: 8px;

    background-color: transparent;
    border: dashed var(--red) 1px;
    border-radius: 20px;
    color: var(--red);

    display: flex;
    justify-content: center;
    align-items: center;
}

.all-quizzes { /*  Joao Vitor - feito não mexer     */
    padding-top: 77px;
}

.all-quizzes-title { /* Joao Vitor - Feito não mexer    */
    padding-bottom: 12px;
    font-weight: 700;
    font-size: 20px;
}

.all-quizzes-container { /*  Joao Vitor - Feito não mexer   */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.your-created-quizzes .title { /* AkoruuDev - Feito não mexer   */
    font-size: 21px;
    font-weight: 700;
    color: var(--black);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.your-created-quizzes .title ion-icon { /*  AkoruuDev - Feito não mexer */
    font-size: 40px;
    color: var(--red);
}

.my-quizzes { /*  AkoruuDev - Feito não mexer   */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.newQuizz, .createNewQuizz { /* AkoruuDev - Feito não mexer */
    width: 80%;
}

.basicsInfo, .questionsNewQuizz { /*  AkoruuDev - Feito não mexer   */
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bas-content {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.basicsInfo .content, .questionsNewQuizz .content { /* AkoruuDev - Feito não mexer */
    width: 100%;
    padding: 25px 20px;
    margin: 25px 0px;

    background-color: var(--white);
    box-shadow: 0 4px 10px 4px var(--shaddow);

    display: flex;
    flex-direction: column;
}

.basicsInfo .content input, .questionsNewQuizz .content input { /* AkoruuDev - Feito não mexer */
    width: 100%;
    height: 45px;
    margin: 10px 0px;
    padding: 18px;

    font-size: 21px;
    font-weight: 400;
    font-style: italic;
    color: var(--text-base);
    border: solid var(--text-base) 1px;
    border-radius: 5px;
    outline: none;
}

.basicsInfo .titleNewQuizz,  .questionsNewQuizz .titleNewQuizz {
    font-size: 21px;
    font-weight: 700;
    color: var(--black);
}
.questionsNewQuizz .content .areaTitle {
    margin: 25px 0px;
    font-size: 18px;
    font-weight: 700;
}

.basicsInfo .content .error,  .questionsNewQuizz .content .error { /* AkoruuDev - Feito não mexer */
    padding-left: 18px;

    color: var(--red);
    font-size: 12px;
    font-weight: 400;
    font-style: italic;
}

.questionsNewQuizz .closedQuestion {
    font-size: 21px;
    font-weight: 700;
    color: var(--black);

    display: flex;
    justify-content: space-between;
    align-items: center;

    --ionicon-stroke-width: 50px;
}

.quizz-selected {
    width: 100%;
    margin-top: 69px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.quizz-banner {
    position: relative;
    text-align: center;
}

.quizz-banner img {
    width: 100%;
    height: 227px;
    object-fit: cover;
    filter: brightness(95%) opacity(60%);
}

.quizz-question {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 39px;
    font-weight: 400;
}

.selected-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.quizz-selected-container {
    padding-top: 42px;
    width: 759px;
    display: flex;
    flex-direction: column;
}

.question-container {
    width: 727px;
    padding-top: 48px;
}

.question-container-title {
    width: 100%;
    height: 138px;
    font-weight: 700;
    font-size: 23px;
    color: white;
    background-color: #434CA0;
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
}

.question-img-container {
    padding-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 18px;
    column-gap: 20px;
}

.question-img-container img {
    width: 100%;
}

.answer {
    padding-top: 9px;
    font-weight: 700;
    font-size: 20px;
}

.result {
    padding-top: 62px;
    width: 727px;
    display:flex;
    padding-bottom: 60px;
}

.result-title {
    width: 100%;
    height: 100px;
    background-color: #EC362D;
    font-size: 23px;
    font-weight: 700;
    color: var(--white);
    justify-content: center;
    align-items: center;
    display: flex;
    margin-bottom: 30px;
    box-shadow: 0px 19px 12px -16px var(--shaddow);
}

.result-img { /*    Joao Vitor - Feito não mexer    */
    width: 50%;
    float: left;
}

.final-message { /* Joao Vitor - Feito não mexer    */
    width: 47%;
    float: right;
    padding-left: 21px;
    color: var(--black);
    font-size: 19px;
    font-weight: 700;
}

.button-container{ /*   Joao Vitor - Feito não mexer    */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.back{ /*   geral - Feito não mexer   */
    margin-top: 0;
    margin-bottom: 85px;
    outline: none;
    border: none;
    background: transparent;
    color: var(--text-base);
    font-size: 21px;
    font-weight: 400;
}

button { /* geral - Feito não mexer  */
    width: 50%;
    height: 54px;
    padding: 5px;
    margin: 30px 0px;

    background-color: var(--red);
    color: var(--white);
    font-size: 21px;
    font-weight: 400;
    
    border-radius: 25px;
    border: none;
    outline: none;
}


.none { /*  geral - Feito não mexer */
    display: none;
}