@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');
/*  font-family: 'Roboto', sans-serif;  */

.banker {
    font-family: 'Roboto', sans-serif;
    background-color: var(--background);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.top {
    width: 100%;
    height: 69px;

    font-size: 37px;
    font-weight: 700;
    color: var(--white);
    box-shadow: 0 0px 10px 4px var(--shaddow);
    background-color: var(--red);

    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    top: 0;
    z-index: 2;
}

.quizzes, .newQuizz {
    width: 80%;
    height: 100%;
    padding: 100px 0px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.your-quizzes {
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.without-quizz {
    width: 1051px;
    height: 181px;

    border: dashed var(--shaddow) 1px;
    border-radius: 5px;
    font-weight: 400;
    font-size: 20px;
    color: var(--text-base);

    display: flex;
    justify-content: center;
    align-items: center;
}

.without-quizz .content {
    width: 250px;
    height: 120px;

    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.create-quizz {
    width: 151px;
    height: 40px;
    margin: 8px;

    border: dashed var(--red) 1px;
    border-radius: 20px;
    color: var(--red);

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}

.all-quizzes{
    padding-top: 77px;
}

.all-quizzes-title{
    padding-bottom: 12px;
    font-weight: 700;
    font-size: 20px;
}

.all-quizzes-container{
    width: 1051px;
    display: grid;
    background-color: rgb(67, 67, 155);
    grid-template-columns: 1fr 1fr 1fr;
}

.quizz-boxes{
    width: 340px;
    height: 181px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.your-created-quizzes .title ion-icon {
    font-size: 40px;
    color: var(--red);
}

.my-quizzes {
    display: flex;
    flex-wrap: wrap;
}

.quizz {
    width: 340px;
    height: 181px;
    margin: 8px;

    border-radius: 5px;

    position: relative;
}

.quizz img{
    width: 340px;
    height: 181px;

    border-radius: 5px;

    position: absolute;
}

.quizz .gradient {
    width: 340px;
    height: 181px;

    border-radius: 5px;
    background: var(--gradient-black);

    position: absolute;
    z-index: 1;
}

.quizz p {
    color: var(--white);
    font-size: 19px;

    position: absolute;
    bottom: 10px;
    left: 10px;
    z-index: 1;
}

.basicsInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.none {
    display: none;
}