/*
Area conferida padronizada
30/06/2022
*/


button:hover {
    cursor: pointer;
    background-color: var(--hover-red);
}

.create-quizz:hover {
    cursor: pointer;
    background-color: var(--hover-background);
}

input:hover, input:focus {
    background-color: var(--hover-white);
    color: var(--black);
}

.back:hover{
    background-color: transparent;
    color: var(--hover-text-base);
}

.your-created-quizzes ion-icon:hover {
    cursor: pointer;
    color: var(--hover-red);
}

.questionsNewQuizz .closedQuestion ion-icon:hover {
    cursor: pointer;
}