/*
Area conferida padronizada
30/06/2022
*/


button:hover {
    cursor: pointer;
    background-color: var(--hover-red);
}

.create-quizz:hover {
    cursor: pointer;
    background-color: var(--hover-background);
}

input:hover, input:focus, textarea:hover, textarea:focus {
    background-color: var(--hover-white);
    color: var(--black);
}

.back-home:hover{
    background-color: transparent;
    color: var(--hover-text-base);
}

.your-created-quizzes ion-icon:hover {
    cursor: pointer;
    color: var(--hover-red);
}

.bas-content .content:hover {
    cursor: pointer;
    /* background-color: var(--hover-white); */
}

.bas-content .content:focus {
    cursor: auto;
    background-color: var(--white);
}

.quizz-boxes .gradient:hover {
    cursor: pointer;
    background: var(--hover-gradient-black);
}