.createNewQuizz .next:hover {
    cursor: pointer;
    background-color: var(--hover-red);
}

.create-quizz:hover {
    cursor: pointer;
    background-color: var(--hover-background);
}

.basicsInfo .content input:hover, .basicsInfo .content input:focus {
    background-color: var(--hover-white);
    color: var(--black);
}

.restart-quizz:hover{
    cursor: pointer;
    background-color: var(--hover-red);
}

.back-home:hover{
    cursor: pointer;
    color: var(--hover-text-base);
}